/* Google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen&display=swap');

body {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */ 

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}