/* Google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen&display=swap');

body {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */ 

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero\ image.jpg) no-repeat center center;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* zoom for hero images */ 

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* cover text for hero image */

#cover-text {
    font-size: 130%;
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 300px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

/* Upcoming Games on Home Page */

.container {
    display: flex;
    height: 300px;
    width: 100%;

}

.container img {
    width: 25%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    min-height: 300px;
    min-width: 300px;
}

.container p {
    width: 25%;
    height: 100px;
    text-align: center;
    vertical-align: center;
    background-color: #252525;
    padding: 5px;
    border: 5px solid #fff;
    color: #fff;
}