/* Google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen&display=swap');

body {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* headings and logo */ 

h1 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
}

#logo {
    display: flex;
    justify-content: left;
    font-size: 280%;
    margin-left: 30px;
}

header a {
    text-decoration: none;
}

/* navigation links */

#menu {
    display: flex;
    align-items: center;
    justify-content: right;
}

#menu ul {
    display: flex;
    align-items: center;
    
}

#menu li {
    list-style-type: none;
    padding: 5px;
    font-size: 130%;
    margin-right: 30px;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}



/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero\ image.jpg) no-repeat center center;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* zoom for hero images */ 

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* cover text for hero image */

#cover-text {
    font-size: 130%;
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 300px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;
}

#cover-text, #cover-text h2 {
    color: #fff;
    text-align: center;
}

/* Upcoming Games on Home Page */

.container1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.container1 .box {
    max-width: 24%;
}
.container1 .box-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 img {
    width: inherit;
    overflow: hidden;
    aspect-ratio: 1/1;
}
.container1 img:hover {
    opacity: 0.9;
}
.container1 p {
    max-width: 100%;
    text-align: center;
    vertical-align: center;
    background-color: #252525;
    padding: 5px;
    color: #fff;
}
hr {
    height: 50px;
    width: 100%;
    margin: 5px;
    border: none;
}


/* Why Travel section - Home Page */

#travel-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.travelsection {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    text-align: center;
}

.travelsection .selected {
    align-self: center;
    flex: 1;
}

.travelsection img {
    align-self: center;
    padding: 5px;
    flex: 1;
    max-width: 100%;
    max-height: 300px;
}

.travelsection h2 {
    margin: 0;
    color: #fff;
}

.travelsection ul li {
    margin: 0;
    color: #fff;
    list-style-type: none;
}

/* google maps */

#map-wrapper {
    height: 300px;
    margin-top: 20px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* social links footer */

footer a {
    color: #fff;
    margin-top: auto;

}

.social-networks {
    display: flex;
    align-items: center;
    background-color: #3a3a3a;
    justify-content: center;
}

.social-networks ul {
    display: flex;
    align-items: center;
}

.social-networks li {
    font-size: 160%;
    padding: 10px;
    color: #fff;
    list-style-type: none;
}

/* form */

input[type=text], input[type=email],select {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
.submitbutton:hover {
    background-color: lightgrey;
}

input[type=text]:focus, input[type=email]:focus, select:focus {
background-color: lightgrey;
}

form div {
    border-radius: 5px;
    background-color: #252525;
    padding: 20px;
    text-align: center;
    color: #fff;
    text-align: center;
    display: block;

}

form {
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
}

#form-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 50px;
    display: inline-block;
}

input[type=submit] {
    background-color: #fff;
    width: 50%;
    color:#252525;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=reset] {
    background-color: #fff;
    width: 50%;
    color:#252525;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Games Pages */

#game-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gamesection {
    background-color: #252525;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    margin: auto;
    border: 2px solid #fff;
    max-width: 55%;
}

.gamesection .selected {
    align-self: center;
    width: 33%;
    margin: auto;
    max-width: 33%;
    flex: 1;
}

.gamesection img {
    height: 15%;
    width: 25%;
    align-self: center;
    padding: 5px;
    max-height: 200px;
    max-width: 300px;
    margin: auto;
    flex: 1;
    aspect-ratio: 1/1;
}

.gamesection h2 {
    margin: 0;
    color: #fff;
    max-width: 33%;
}

.gamesection ul li {
    margin: 0;
    color: #fff;
    list-style-type: none;
    padding: 2px;
    margin: auto;
}

/* media queries */ 

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width:1200px) {
    
    #logo {
        width:100%;
        margin: 0 auto;
    }

    .container1 .box {
        max-width: 49%;
    }

    .travelsection {
        width: 55%;
        float: none;
    }
}

/* Medium screen sizes from 950px wide and down */
@media screen and (max-width:950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        top: 25%;
        bottom: 25%;
        left: 18%;
        position: absolute;
        
    }

    .gamesection .selected {
        align-self: center;
        width: 33%;
        margin: auto;
        max-width: 33%;
        flex: 1;
        float:left;
        padding:10%;
    }

    form {
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }

    .container1 .box {
        max-width: 100%;
    }

}